.button {
  // transition: all 0.5s ease;

  &--top {
    display: none;

    &-show {
      display: block;
    }
  }

  &__icon {
    fill: #126047;
  }

  // &:hover &__icon,
  // &:focus &__icon {
  //   color: lighten(#126047, 10%);
  //   opacity: 0.5;
  // }
  //
  // &:active &__icon {
  //   opacity: 0.8;
  // }
}

@media (min-width: 1200px) {
  .button--top {
    position: fixed;
    bottom: 100px;
    right: 30px;
  }
}
