.link {
  display: inline-block;
  color: inherit;

  &--index {
    text-transform: lowercase;

    &-backward::before,
    &-forward::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 11px;
      background-image: url("../img/icon-arrow.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &-forward::after {
      transform: rotate(180deg);
    }
  }
}
