.page-final {
  &__sign {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__links {
    display: grid;
    grid-template-areas: "left central right";
    grid-template-columns: repeat(3, 33.33%);
    grid-column-gap: 10px;
    align-items: center;
    width: 100%;
  }

  &__central-link {
    grid-area: central;
    margin: 0 auto;
  }

  &__left-link {
    grid-area: left;
  }

  &__right-link {
    grid-area: right;
    text-align: right;
  }
}

@media (min-width: 660px) {
  .page-final {
    &__sign {
      font-size: 20px;
    }
  }
}
