.page-section {
  &__hello-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__hello-title {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 320px;
    background-image: url("../img/bg-web-development.svg");
    background-position: left bottom;
    background-size: auto 320px;
    background-repeat: no-repeat;

    font-size: 48px;
    font-weight: 500;
  }

  &__hello-name {
    display: block;
    font-size: 36px;
  }

  &__title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;

    &::before {
      content: "";
      display: block;
      height: 70px;
      margin: -70px 0 0;
    }

    &--sub {
      font-size: 20px;
    }

    &--subsub {
      font-size: 18px;
    }
  }

  &__content {
    margin-top: 25px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 15px;

    &--first {
      margin-top: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & pre[class*="language-"] {
    background: #e3ede8;
  }

  & pre code,
  & pre[class*="language-"] code,
  & code[class*="language-"],
  & pre.syntaxbox code,
  & pre.twopartsyntaxbox code,
  &__code {
    font-family: "Fira Code", monospace;
    font-size: 14px;
    background: transparent;
  }

  & .line-numbers .line-numbers-rows {
    font-size: 14px;
    line-height: 1.7;
  }

  &__determinations {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__figure {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;
  }

  &__img-caption {
    font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-variant: small-caps;
  }

  &__pre {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 660px) {
  .page-section {
    &__hello-wrap {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 410px;
      background-image: url("../img/bg-web-development.svg");
      background-position: right bottom;
      background-size: auto 410px;
      background-repeat: no-repeat;
    }

    &__hello-title {
      flex-grow: 0;
      font-size: 56px;
      padding-bottom: 0;
      background: none;
    }

    &__hello-name {
      margin-bottom: 20px;
      font-size: 44px;
    }

    &__contacts {
      margin-top: 220px;
    }

    &__title {
      font-size: 36px;

      &--sub {
        font-size: 26px;
      }

      &--subsub {
        font-size: 24px;
      }
    }

    &__text {
      font-size: 20px;
    }

    &__img-caption {
      font-size: 18px;
    }

    & pre code,
    & pre[class*="language-"] code,
    & code[class*="language-"],
    & pre.syntaxbox code,
    & pre.twopartsyntaxbox code,
    &__code {
      font-size: 16px;
    }

    & .line-numbers .line-numbers-rows {
      font-size: 16px;
      line-height: 1.55;
    }
  }
}

@media (min-width: 960px) {
  .page-section {
    &__hello-wrap {
      padding-bottom: 40px;
      background-size: 50% 77%;
    }

    &__hello-title {
      max-width: 710px;
      font-size: 62px;
    }

    &__hello-name {
      font-size: 50px;
    }

    &__contacts {
      margin-top: 40px;
    }
  }
}
