.page-section {
  &__title {
    font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;

    &--sub {
      font-size: 20px;
    }

    &--subsub {
      font-size: 18px;
    }
  }

  & code {
    font-family: "Fira Code", monospace;
    font-size: 14px;
  }

  &__img-caption {
    font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-variant: small-caps;
  }
}
