.table-of-content {
  list-style: none;
  counter-reset: li;

  &__item {
    font-size: 28px;
    font-weight: 500;
    border-bottom: 2px solid #202020;

    &--small {
      font-size: 20px;
    }

    &--bg {
      border-bottom: none;
      background-color: #cbded5;
    }

    &::before {
      counter-increment: li;
      content: counters(li, ".") ". ";
    }

    &--sub {
      border-bottom: none;
    }
  }

  &__item-link,
  &__anchor {
    color: inherit;
  }
}
