extends ../pug/layout.pug

block header
  +header(false, 'index')

block content
  section.page-section.container
    .page-section__hello-wrap
      h1.page-section__hello-title #[span.page-section__hello-name Oh hey, frontend] Простой и актуальный справочник, посвящённый #[br] веб-разработке
      .page-section__contacts.contacts
        span.contacts__name контакты
        a.contacts__link.link-round(href='#', arial-label='Страница ВКонтакте')
          svg.link-round__icon(width='20', height='12', xmlns='http://www.w3.org/2000/svg', role='presentation')
            path(d='M17.8021 8.015C17.8021 8.015 19.4191 9.612 19.8191 10.351C19.8269 10.3617 19.8329 10.3735 19.8371 10.386C20.0001 10.659 20.0401 10.873 19.9601 11.031C19.8251 11.292 19.3681 11.423 19.2131 11.434H16.3551C16.1561 11.434 15.7421 11.382 15.2381 11.034C14.8531 10.765 14.4701 10.322 14.0991 9.889C13.5451 9.246 13.0661 8.688 12.5811 8.688C12.5198 8.68787 12.459 8.69801 12.4011 8.718C12.0341 8.834 11.5681 9.357 11.5681 10.75C11.5681 11.186 11.2241 11.434 10.9831 11.434H9.67409C9.22809 11.434 6.90609 11.278 4.84709 9.107C2.32409 6.449 0.05809 1.117 0.03609 1.07C-0.10491 0.725 0.19109 0.537 0.51109 0.537H3.39709C3.78409 0.537 3.91009 0.771 3.99809 0.981C4.10009 1.222 4.47809 2.186 5.09809 3.269C6.10209 5.031 6.71909 5.748 7.21209 5.748C7.30471 5.74827 7.39577 5.72413 7.47609 5.678C8.12009 5.324 8.00009 3.024 7.97009 2.55C7.97009 2.458 7.96909 1.523 7.63909 1.071C7.40309 0.747 7.00109 0.621 6.75809 0.575C6.82309 0.481 6.96109 0.337 7.13809 0.252C7.57909 0.0319999 8.37609 0 9.16709 0H9.60609C10.4641 0.012 10.6861 0.0669999 10.9981 0.146C11.6261 0.296 11.6381 0.703 11.5831 2.089C11.5671 2.485 11.5501 2.931 11.5501 3.456C11.5501 3.568 11.5451 3.693 11.5451 3.82C11.5261 4.531 11.5011 5.332 12.0031 5.661C12.0682 5.70156 12.1434 5.72304 12.2201 5.723C12.3941 5.723 12.9151 5.723 14.3281 3.298C14.9481 2.227 15.4281 0.964 15.4611 0.869C15.4891 0.816 15.5731 0.667 15.6751 0.607C15.7476 0.568395 15.8289 0.54911 15.9111 0.551H19.3061C19.6761 0.551 19.9271 0.607 19.9761 0.747C20.0581 0.974 19.9601 1.667 18.4101 3.763C18.1491 4.112 17.9201 4.414 17.7191 4.678C16.3141 6.522 16.3141 6.615 17.8021 8.015Z', fill-rule='evenodd', clip-rule='evenodd')
        a.contacts__link.link-round(href='#', arial-label='Профиль в Telegram')
          svg.link-round__icon(width='20', height='17', xmlns='http://www.w3.org/2000/svg', role='presentation')
            path(d='M13.9586 1.06848L11.8461 11.031C11.6866 11.734 11.2711 11.909 10.6806 11.578L7.46162 9.20598L5.90862 10.7C5.73662 10.872 5.59312 11.0155 5.26162 11.0155L5.49312 7.73748L11.4586 2.34698C11.7181 2.11598 11.4021 1.98748 11.0556 2.21898L3.68062 6.86298L0.505619 5.86898C-0.184881 5.65348 -0.197381 5.17848 0.649619 4.84698L13.0681 0.062481C13.6431 -0.153019 14.1461 0.190481 13.9586 1.06898V1.06848Z')
        a.contacts__link.link-round(href='#', arial-label='Электронная почта')
          svg.link-round__icon(width='20', height='20', xmlns='http://www.w3.org/2000/svg', role='presentation')
            path(d='M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20H15V18H10C5.66 18 2 14.34 2 10C2 5.66 5.66 2 10 2C14.34 2 18 5.66 18 10V11.43C18 12.22 17.29 13 16.5 13C15.71 13 15 12.22 15 11.43V10C15 7.24 12.76 5 10 5C7.24 5 5 7.24 5 10C5 12.76 7.24 15 10 15C11.38 15 12.64 14.44 13.54 13.53C14.19 14.42 15.31 15 16.5 15C18.47 15 20 13.4 20 11.43V10C20 4.48 15.52 0 10 0ZM10 13C8.34 13 7 11.66 7 10C7 8.34 8.34 7 10 7C11.66 7 13 8.34 13 10C13 11.66 11.66 13 10 13Z')

block footer
  footer.page-footer
    .page-footer__wrap.page-footer__wrap--multi
      p.page-footer__author © Марина Калюжная, 2020
      a.page-footer__forward-link.link.link--index.link--index-forward(href='table-of-content.html') Оглавление


block page-bottom
  script(src='js/script.min.js')
