extends ../pug/layout.pug

block header
  +header(false, 'index')

block content
  section.hello-screen
    .hello-screen__wrap
      h1.hello-screen__title #[span.hello-screen__name Oh hey, frontend] Простой и актуальный справочник, посвящённый веб-разработке
      .hello-screen__contacts.small-index
        span.small-index__name Контакты
        a.small-index__link.link.link--round(href='#', arial-label='Страница ВКонтакте')
          //- TODO скрыть svg через aria-[что-то там]
          svg(width='', height='', viewBox='', fill='none', xmlns='http://www.w3.org/2000/svg')
        a.small-index__link.link.link--round(href='#', arial-label='Профиль в Telegram')
          //- TODO скрыть svg через aria-[что-то там]
          svg(width='', height='', viewBox='', fill='none', xmlns='http://www.w3.org/2000/svg')
        a.small-index__link.link.link--round(href='#', arial-label='Электронная почта')
          //- TODO скрыть svg через aria-[что-то там]
          svg(width='', height='', viewBox='', fill='none', xmlns='http://www.w3.org/2000/svg')

block footer
  footer.page-footer.page-footer--mini.page-footer--multi
    p.page-footer__author © Марина Калюжная, 2020
    a.page-footer__forward-link.link.link--index.link--index-forward Оглавление


block page-bottom
  //- script(src='js/script.min.js')
