extends ../pug/layout.pug

block variables
  - var pageName = 'содержание раздела CSS';

block header
  +header(false, '2. CSS')

block content
  .container
    +pageTitle('2. CSS')

    .table-of-content-wrap
      //- TODO начать нумерацию этого списка сразу со второго уровня
      ol.table-of-content-wrap__list.table-of-content
        li.table-of-content__item
          a.table-of-content__item-link(href='css-introduction.html', data-level='2') Основы CSS

block footer
  footer.page-footer.page-footer--mini
    a.page-footer__backward-link.link.link--index.link--index-backward(href='table-of-content.html') Содержание
