extends ../pug/layout.pug

block header
  +header(false, 'Оглавление')

block content
  +pageTitle('Оглавление')
  | Здесь будет содержание

block footer
  footer.page-footer.page-footer--mini
    a.page-footer__backward-link.link.link--index Главная
