extends ../pug/layout.pug

block header
  +header(false, '3. JavaScript')

block content
  +pageTitle('3. JavaScript')

  section.table-of-content
    //- TODO начать нумерацию этого списка сразу со второго уровня
    ol.table-of-content__sublist
      li.table-of-content__subitem
        a.table-of-content__item-link(href='js-introduction.html') основы JavaScript

block footer
  footer.page-footer.page-footer--mini
    a.page-footer__backward-link.link.link--index(href='table-of-content.html') Содержание
