extends ../pug/layout.pug

block variables
  - var pageName = 'содержание';

block header
  +header(false, 'Оглавление')

block content
  .container
    +pageTitle('Оглавление')

    .table-of-content-wrap
      ol.table-of-content-wrap__list.table-of-content
        li.table-of-content__item
          a.table-of-content__item-link(href='table-of-content-html.html') HTML
        li.table-of-content__item
          a.table-of-content__item-link(href='table-of-content-css.html') CSS
        li.table-of-content__item
          a.table-of-content__item-link(href='table-of-content-js.html') JavaScript

      ol.table-of-content-wrap__list.table-of-content
        li.table-of-content__item
          a.table-of-content__item-link(href='math-in-web.html') Математика в вебе


block footer
  footer.page-footer.page-footer--mini
    a.page-footer__backward-link.link.link--index.link--index-backward(href='index.html') Главная
