extends ../pug/layout.pug

block variables
  - var pageName = 'содержание раздела HTML';

block header
  +header(false, '1. HTML')

block content
  .container
    +pageTitle('1. HTML')

    .table-of-content-wrap
      //- TODO начать нумерацию этого списка сразу со второго уровня
      ol.table-of-content-wrap__list.table-of-content
        li.table-of-content__item
          a.table-of-content__item-link(href='html-introduction.html') основы HTML

block footer
  footer.page-footer.page-footer--mini
    a.page-footer__backward-link.link.link--index.link--index-backward(href='table-of-content.html') Содержание
