extends ../pug/layout.pug

block header
  +header(false, '1. HTML')

block content
  +pageTitle('1. HTML')

  section.table-of-content(data-level='1')
    //- TODO начать нумерацию этого списка сразу со второго уровня
    ol.table-of-content__list
      li.table-of-content__item.table-of-content__item--sub
        a.table-of-content__item-link(href='html-introduction.html') основы HTML

block footer
  footer.page-footer.page-footer--mini
    a.page-footer__backward-link.link.link--index.link--index-backward(href='table-of-content.html') Содержание
